<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2>Jeu du Pendu</h2>

	<!-- Player start -->

	<div th:if="${player.name} != null">
		Joueur: <span th:text="${player.name}">Bob le player</span>
		<div>
			<form action="/jeux/jeudupendu/game" method="post">
				<input type="submit" name="submit" value="Nouvelle partie" />
			</form>
		</div>
	</div>

	<div th:if="${player.name} == null">
		<form action="/jeux/jeudupendu/player" method="post">
			Votre pseudo: <input type="text" name="name" />
			<input type="submit" name="submit" value="Jouer" />
		</form>
	</div>

	<!-- Player end -->

	<!-- Game start -->

	<div th:if="${game.getState()} != null">
		<div>
			Game state: <p th:text="${game.getState()}"></p>
		</div>
		<form action="/jeux/jeudupendu/play" method="post">
			Une lettre: <input type="text" name="proposal" />
			<input type="submit" name="submit" value="Proposer" />
		</form>
	</div>

	<div id="gameDisplay">
	</div>

	<!-- Game end -->

	<script>
/*
	$(function(){

		setTimeout( function() {
			$.getJSON( "/jeux/jeudupendu/game.json", function( data ) {
				console.log( data );
			} );
		}, 1000 );

	});
*/
	</script>

  </body>
</html>
